.search-wrapper {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-header {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 4rem;
}

.search-inputWrapper {
  position: relative;
}

.search-input {
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
  margin-bottom: 72px;
  height: 55px;
  width: 800px;
  padding: 3px 10px;
  font-size: 19px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 9px 19px 4px rgb(180 180 180 / 25%);
  /* transform: translateX(-80px); */
}
.search-input:focus {
  outline: 0;
  outline-offset: 0;
}

.search-input::placeholder {
  opacity: 0.5;
}

.search-button {
  position: absolute;
  /* right: 275px; */
  background-color: #ff2625;
  width: 175px;
  height: 56px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  color: #fffafb;
}

.search-button:hover {
  background-color: #fbabbac9;
  color: #ff2625;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.search-categories {
  position: relative;
  width: 100%;
  padding: 20px;
}

@media (max-width: 576px) {
  .search-header {
    font-size: 30px;
  }

  .search-inputWrapper {
    width: 350px;
  }

  .search-button {
    width: 80px;
    font-size: 14px;
  }
  .search-input {
    width: 350px;
  }
}

@media (max-width: 1200px) {
  .search-inputWrapper {
    margin: 0 auto;
  }

  .search-input {
    width: 450px;
    transform: translateX(-50px);
  }

  .search-button {
    right: -125px;
  }
}
